* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 }
 .flex {
   display: flex;
 }
.debug {
  border: 1px solid red;
  background-color: red;
}
.avatar-mine {
  display: flex;
  width: 50px;
  margin: 10px;
  border-radius: 50%;
}
.avatar {
  width: 60px;
  margin: 10px;
  border-radius: 50%;
}
.container-fluid {
  width: 100%;
  height: 100vh
}
.green {
  width: 100%;
  height: 13%;
  background-color: #009688;
}
.grey {
  width: 100%;
  height: calc(100vh - 13%);
  background-color: #dadbd3
}
.container-main {
  width: 73%;
  height: 96%;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
}
.side-nav {
  width: 30%;
  height: 100%

}

.icons {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-left: 220px;


}
.icons ul {
display: flex;
justify-content: center;
list-style: none;

}
.icons ul li {
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}
.alert-blue {
  background-color: blue;
}
.alert-inside {
  margin-top: 15px;
}
.alert-inside h3 {
margin-bottom: 5px;
}
.searchbar {
width: 100%;
background-color: #fff;
padding: 5px 15px;

border-radius: 30px;
}

.searchbar input {
  width: 93%;
  height: 25px;
  border: 1px solid transparent;
}
.container-grey {
  background-color: #dadbd3;
  padding: 5px;
}
.wrapper-chat {
  width: 100%;
  height: 78%;
  overflow-y: scroll;
}
.name-chat {
  height: 50px;
  margin-top: 15px;
}
.name-chat h2 {
margin-bottom: 5px;
}
.name-chat h2::after {
  content: "17:53";
  font-size: 12px;
  margin-left: 100%
}
